@import '../../partials/mixins';

.todoitem {
	border-bottom: 1px solid $vgrey;
	padding: 0.2rem;
	display: flex;
	align-items: center;
	&__status {
		border: 1px solid $vsilver;
		border-radius: 100%;
		width: 15px;
		height: 15px;
		margin-right: 0.5rem;
		&:hover {
			background-color: $vgrey;
		}
	}
	&__when {
		display: flex;		
		align-items: center;
		border: 1px solid $vgrey;
		border-radius: 4px;
		background-color: $vgrey;
	}
}