@import '../../partials/mixins';

.todoitem {
	border-bottom: 1px solid $vgrey;
	padding: 0.2rem;
	display: flex;
	align-items: center;
	position: relative;
	&__status {
		border: 1px solid $vsilver;
		border-radius: 100%;
		width: 15px !important;
		height: 15px;
		margin-right: 0.5rem;
		&:hover {
			background-color: $vsilver;
		}
		&--complete {
			background-color: $vsilver;
		}
	}
	&__title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 88%;
	}
}