@import '../../partials/mixins';

.todoform {
	padding: 0.5rem 0;
	margin: 0.5rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	&__input {
		width: 100%;
		height: 2rem;
		margin-bottom: 1rem;
		padding: 0.2rem;
	}
	&__button {
		width: 80px !important;
		height: 1.5rem !important;
		margin-left: 0.5rem;
	}
}